<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"    
    default-autowire="byName"   
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"   
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
    http://www.springframework.org/schema/context   
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd  
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
     http://www.springframework.org/schema/security
      http://www.springframework.org/schema/security/spring-security-4.2.xsd
    ">    
    
  	<context:property-placeholder location="classpath:resource/jdbc.properties"/><!-- 加载配置文件 -->  
      
     <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"   
            destroy-method="close">  
        <property name="driverClass" value="com.mysql.jdbc.Driver" />  
        <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/maventest" />  
        <property name="user" value="root" />  
        <property name="password" value="root" />  
        <property name="initialPoolSize" value="1" />  
        <property name="minPoolSize" value="0" />  
        <property name="maxPoolSize" value="10" />  
        <property name="acquireIncrement" value="5" />  
        <property name="maxIdleTime" value="10" />  
        <property name="maxStatements" value="0" />  
    </bean>  
      
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">    
        <constructor-arg index="0" ref="sqlSessionFactory" />    
    </bean>    
      
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource" ref="dataSource" />  
        <property name="mapperLocations"  
            value="classpath*:com/liuwei/dao/impl/*Mapper.xml" />  
    </bean>  
  
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage" value="com.liuwei.dao" />  
    </bean>  
  
    <context:component-scan base-package="com.liuwei.service.impl" />  
      
   <!--   配置spring的PlatformTransactionManager，名字为默认值  --> 
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean>  
      
   <!--  开启事务控制的注解支持   -->
    <tx:annotation-driven transaction-manager="transactionManager"/>  
 
 
 
 
	<!--springSecurity 权限控制  -->
	<!-- <security:http auto-config="true">
		<security:intercept-url pattern="/**" access="ROLE_USER"/>
		 <security:form-login login-page="/login" default-target-url="/welcome"/>
		<security:logout  logout-success-url="/login?logout"/> 
		<security:access-denied-handler error-page="/403"/>
	</security:http> -->
	
	
	<security:http auto-config="true">  
        <!--路径'/admin/*'需要权限ROLE_ADMIN-->  
        <security:intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>  
        <!--以"/user"开头的所有路径需要ROLE_USER权限-->  
        <security:intercept-url pattern="/user**" access="hasRole('ROLE_USER')" />  
        <!--制定自定义的登录路径为/login，登录后默认跳转/welcome-->  
        <security:form-login  login-page="/login" default-target-url="/welcome.jsp" />  
        <!--指定使用默认登出页面，登出后跳转到/login?logout页面-->  
        <security:logout  logout-success-url="/login"/>  
        <!--对于没有权限的页面跳转到/403路径-->  
        <security:access-denied-handler error-page="/accessDenied.jsp" />  
        <security:csrf disabled="false"/>
        <!-- <security:session-management invalid-session-url="/sessionTimeOut.jsp">
        	<security:concurrency-control max-sessions="1" error-if-maximum-exceeded="true"/>第二次登录会让第一次登录失效  error-if-maximum-exceeded="true" 防止二次登录
        </security:session-management>   -->
    </security:http>  
	
<!-- 	 <security:authentication-manager>  
        <security:authentication-provider user-service-ref="myUserDetailsService"/>  
    </security:authentication-manager>   -->
	<!-- 配置认证管理器  -->
 	
	<security:authentication-manager>
		<security:authentication-provider>
			<security:password-encoder hash="md5"/>
			<!-- <security:user-service>
				<security:user name="user" password="21232f297a57a5a743894a0e4a801fc3" authorities="ROLE_USER"/>
			</security:user-service> -->
			<security:jdbc-user-service data-source-ref="dataSource"/>
		</security:authentication-provider>
	</security:authentication-manager> 
	<!-- 加载国际化资源文件 -->
	<bean id="messageSource" 
	class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	<property name="basename"
	value="classpath:resource/myMessageSource"/>
	</bean>
	
	<!-- <bean id="fiterChainProxy" class="org.springframework.web.filter.DelegatingFilterProxy">
		<security:filter-chain-map request-matcher="ant">
			<security:filter-chain pattern="/webServices/**" filters="
				SecurityContextPersistenceFilterWithASCFalse,
				basicAuthenticationFilter,
				exceptionTranslationFilter,
				filterSecurityInterceptor"/>
			<security:filter-chain pattern="/**" filters="
				SecurityContextPersistenceFilterWithASCFalse,
				formLoginFilter,
				exceptionTranslationFiter,
				filterSecurityInterceptor
			"/>
			<security:filter-chain filters=""/>
		</security:filter-chain-map>
	</bean> -->
	<!-- 注解的方式控制方法的权限 -->
	<security:global-method-security 
		secured-annotations="enabled"
		jsr250-annotations="enabled"
		/>
	<!-- 配置文件的形式控制方法权限  -->	
	<!-- <security:global-method-security>
		<security:protect-pointcut access="ROLE_USER,ROLE_ADMIN" 
		expression="execution(* com.liuwei.service.*.sayHello)"/>
	
	
	</security:global-method-security> -->
	
</beans>  